@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-image: url("/public/assets/background\ \(1\).png");
  background-color: rgb(10, 0, 39);
  background-repeat: none;
  
}

*{
  font-family: 'Montserrat', sans-serif;
}
