.nftSpace_body{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.nftSpace_Heading{
    font-size: 50px;
    color: #ffffff;
}

.nftSpace_card1{
    width: 300px;
    height:400px;
    margin-top: 4.5rem !important;
    background: url('/public/assets/simon-sigal-neon-city-girl-portrait-test9-glitch.png');
    background-size:cover;
    border-radius:17px !important ;
}

.nftSpace_card2{
    width: 350px;
    height: 500px !important;
    background: url('/public/assets/iron_man_neon.png');
    background-size:cover;
    border-radius:17px !important ;
}

.nftSpace_card3{
    width: 300px;
    height:400px;
    margin-top: 4.5rem !important;
    background: url('/public/assets/293018141737884224.png');
    background-size:cover;
    background-repeat: none !important;
    border-radius:17px !important ;
}

.css-pwngrv-MuiPaper-root-MuiCard-root{
    margin:20px;
}

.css-46bh2p-MuiCardContent-root:last-child{
    padding: none !important;
}

.nftSpace_card{
    display: flex;
}

.nftSpace_body2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin:30px
}

.nftSpace_card4{
    width: 350px;
    height: 340px !important;
    background: url('/public/assets/zach-key-rKE6rXOl14U-unsplash.png');
    background-size:cover;
    border-radius:12px !important ;
}
.nftSpace_card5{
    width: 350px;
    height: 380px !important;
    background: url('/public/assets/iron_man_neon.png');
    background-size:cover;
    border-radius:17px !important ;
    margin-left:-48rem;
}
.nftSpace_card6{
    width: 350px;
    height: 400px !important;
    background: url('/public/assets/wallpapersden.com_cool-anonymous-neon-boy_2560x1440.png');
    background-size:cover;
    border-radius:17px !important ;
    margin-left:-48rem;
}

.nftSpace_collection{
    background: transparent !important;
    border: none !important;
    margin:none !important;
    outline: none !important;
    width:350px;
    height: 300px;
    box-shadow: none !important;
}

.nftSpace_collection_button{
    background: linear-gradient(90deg, #2B6DFD 2.6%, #B450F7 97.4%) !important;
    color:#ffffff !important;
    font-size: 10px !important;
    padding: 10px !important;
}

@media screen and (max-width:600px){
    .nftSpace_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nftSpace_collection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nftSpace_card5{
        margin-left: 0;
    }
    .nftSpace_card6{
        margin-left: 0;
    }
    .nftSpace_body2{
        display: flex;
        flex-direction: column;
    }
}

.nftSpace_body3>h3{
    color:#ffffff;
    font-size: 30px;
    width: 100%;
    margin-left: 10rem;
}

.nftSpace_body3_special{
    display: flex;
    flex-wrap: wrap;
}

.nftSpace_body3_specialcard1{
    width: 200px;
    height: 280px;
    margin: 20px;
}